@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap"); @import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@600&display=swap"); @import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap"); * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: var(--sonika-primary-colornew);
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
}

:root {
    --sonika-primary-font: 'DM Sans', sans-serif;
    --sonika-secondary-font: 'Lora', serif;
    --sonika-primary-color: #585b5e;
    --sonika-primary-colornew: #A5A19E;
    --sonika-secondary-color: #006524;
    --sonika-tertary-color: #487219;
    --sonika-primary-border-radius: 4px;
}

.primary-header {
    font-size: 42px;
    line-height: 1.2em;
    margin-bottom: 32px;
    color: var(--sonika-secondary-color);
    font-weight: 300;
    font-family: var(--sonika-secondary-font);
}

.secondary-header {
    margin-bottom: 23px;
    font-size: 36px;
    font-weight: 700;
    font-family: var(--sonika-secondary-font);
    color: var(--sonika-secondary-color);
    line-height: 1.2;
}

.tertary-header {
    font-size: 30px;
    font-family: var(--sonika-primary-font);
    color: var(--sonika-secondary-color);
    line-height: 1.2;
}

.primary-text {
    font-size: 16px;
    line-height: 30px;
    color: var(--sonika-primary-colornew);
    margin: 0px;
}

.btn1 {
    padding: 16px 30px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    transition: all 0.2s ease-in-out 0s;
    background-color: var(--sonika-secondary-color);
    color: rgb(255, 255, 255);
    line-height: 1;
}

address i {
    font-size: 14px;
}

address span {
    background-color: rgba(0, 0, 0, 0);
    color: var(--sonika-primary-colornew);
    font-size: 14px;
    text-decoration: underline;
}

.fw-700 {
    font-weight: 700;
}

.font-17 {
    font-size: 17px !important;
}

.font-30 {
    font-size: 30px !important;
}

.uniquetest {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: var(--sonika-primary-color);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.nav-logo img {
    width: 60px;
}

.nav-text {
    color: var(--sonika-secondary-color);
    font-weight: 1000;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Smooch sans";
    position: relative;
    top: 5px;
}

.navbar {
    position: fixed;
    z-index: 3;
    width: 100%;
    background: rgba(255, 255, 255, 0.61);
}

.navbar-nav .nav-link {
    color: var(--sonika-primary-color);
    line-height: 1;
    margin: 0px 2px;
    border-radius: 4px;
    letter-spacing: 0.2px;
    padding: 16px !important;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .navbar-nav .nav-link:hover {
    background: var(--sonika-secondary-color);
    color: white;
}

.carousel-control-next, .carousel-control-prev {
    bottom: unset;
    transform: translate(0%, -50%);
    top: 50%;
    width: auto;
    background: var(--sonika-secondary-color);
    opacity: 0;
    padding: 30px 5px;
    border-radius: 0px 5px 5px 0px;
}

.home:hover .carousel-control-next, .home:hover .carousel-control-prev {
    opacity: 0.8;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
    opacity: 1 !important;
}

.carousel-control-next {
    border-radius: 5px 0px 0px 5px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 1.5rem;
}

.home .home-card {
    max-width: 550px;
    margin: 20px;
    top: 0px;
    position: absolute;
    z-index: 2;
    right: 10%;
    bottom: 0px;
    display: flex;
    align-items: center;
}

.hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0px;
    padding: 15px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0px;
    background-color: transparent;
}

.hamburger:not(.collapsed):hover, .hamburger:hover {
    opacity: 0.7;
}

.hamburger:not(.collapsed) .hamburger-inner, .hamburger:not(.collapsed) .hamburger-inner::after, .hamburger:not(.collapsed) .hamburger-inner::before {
    background-color: rgb(255, 255, 255);
}

.hamburger-box {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 14px;
}

.hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
    position: absolute;
    width: 25px;
    height: 2px;
    transition-timing-function: ease;
    transition-duration: 0.15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
}

.hamburger-inner::after, .hamburger-inner::before {
    display: block;
    content: "";
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--spring .hamburger-inner {
    top: 2px;
    transition: background-color 0s linear 0.13s;
}

.hamburger--spring .hamburger-inner::before {
    top: 8px;
    transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

.hamburger--spring .hamburger-inner::after {
    top: 16px;
    transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

.hamburger--spring:not(.collapsed) .hamburger-inner {
    transition-delay: 0.22s;
    background-color: transparent !important;
}

.hamburger--spring:not(.collapsed) .hamburger-inner::before {
    top: 0px;
    transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
    transform: translate3d(0px, 10px, 0px) rotate(45deg);
}

.hamburger--spring:not(.collapsed) .hamburger-inner::after {
    top: 0px;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
    transform: translate3d(0px, 10px, 0px) rotate(-45deg);
}

.hamburger--spring-r .hamburger-inner {
    top: auto;
    bottom: 0px;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-duration: 0.13s;
}

.hamburger--spring-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, opacity 0s linear 0s;
}

.hamburger--spring-r .hamburger-inner::before {
    transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

.hamburger--spring-r:not(.collapsed) .hamburger-inner {
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0px, -10px, 0px) rotate(-45deg);
}

.hamburger--spring-r:not(.collapsed) .hamburger-inner::after {
    top: 0px;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0s, opacity 0s linear 0.22s;
    opacity: 0;
}

.hamburger--spring-r:not(.collapsed) .hamburger-inner::before {
    top: 0px;
    transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
    transform: rotate(90deg);
}

@media (max-width: 1200px) {
    .navbar {
        position: relative;
        background-color: rgb(48, 48, 48);
    }

    .navbar-nav .nav-link {
        color: var(--sonika-primary-color);
        font-size: 14px;
        font-weight: 500;
    }

    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .navbar-nav .nav-link:hover {
        background-color: transparent;
        color: var(--sonika-secondary-color);
    }
    #navbarSupportedContent {
        position: absolute;
        width: 220px;
        top: calc(80%);
        right: 40px;
        background: white;
        padding: 20px 0px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 16px 20px !important;
        border-radius: var(--sonika-primary-border-radius);
    }
}
